[Service]
Restart=always
RestartSec=10
User=root
Type=simple
ExecStart=/package/dir-with-executable/bin/executable --argument=/package/dir-with-executable/argument --relative-path=./etc/relative-path --absolute-path=/etc/absolute-path
WorkingDirectory=/package/dir-with-executable/

[Unit]
After=network.target
Description=Valid Service

[Install]
WantedBy=multi-user.target
