[Service]
RestartSec=10
User=root
Type=simple
Restart=always
WorkingDirectory=/package/dir-with-executable/
ExecStart=/package/dir-with-executable/bin/executable --argument=/package/dir-with-executable/argument --relative-path=./etc/relative-path --absolute-path=/etc/absolute-path

[Install]
WantedBy=multi-user.target

[Unit]
Description=Valid Service
After=network.target
